<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Mi Aplicación[% endblock %]</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.8">
    {% block head %}
        <link rel="stylesheet" href="L url.for('static', filename='styles.css'>
    {% endblock %}
</head>

<body>
    <header>
        {% block header %} 
        <h1>Mi Aplicación</h1>
        {% endblock %}
    </header>
    <nav>
        {% block nav %}
        <!-- Menú de navegación -→>
        {% endblock %}
    </nav>
    <main>
        {% block content %}
        <!-- Contenido principal --> 
        {% endblock %}
    </main> 
    <footer>
        {% block footer %} &copy; {{ current-year }} Mi Aplicación {%endblock%)
    </footer>
</body>
</html>